<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ckf.crm.mapper.RoleMapper">


    <!--通过辅助查询类来存储查询结果，pojo类-->
    <select id="selectRolePermissionAllVo" resultType="com.ckf.crm.vo.RolePermissionVo">
            select permission_id,perm_name,permission,url,create_time,update_time,is_del
            from permission;
    </select>

</mapper>
